.Favorites {
    width: 100vw; /* Chiếm toàn bộ chiều rộng màn hình */
    margin: 4em 0em 4em 0em;
}

.Favorites .FavoritesHeader {
    text-align: center;
}

.FavoritesHeader .TitleFavorites {
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.FavoritesHeader .DescriptionFavorites {
    font-size: 1em;
    font-weight: 300;
}

.Favorites .FavoritesBody {
    margin-top: 1.9em;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.Favorites .FavoritesBody .SwiperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.4em; 
    width: 100%;
    overflow: hidden;
}

.Favorites .FavoritesBody .ListFavorites .swiper-wrapper {
    display: flex !important;
    justify-content: center !important; /* Căn giữa thủ công */
    transition: transform 0.3s ease-in-out;
}

.Favorites .FavoritesBody .ListFavorites {
    display: flex;
    justify-content: flex-start;
    width: 100% !important;
    height: 100%;
    max-width: 100%;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap; /* Giữ nội dung trong cùng một hàng */
}

.FavoritesBody .ListFavorites .SlideFavorites {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    padding: 0 1.4em;
    width: 100%;
    flex-wrap: nowrap;
}


.Favorites .FavoritesBody .FavPreBtn,
.Favorites .FavoritesBody .FavNextBtn {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 10; 
    transition: all 0.3s ease-in;
}

.Favorites .FavoritesBody .FavPreBtn:hover,
.Favorites .FavoritesBody .FavNextBtn:hover {
    background: var(--text-button-hover);
    color: var(--color-button-nextprev);
    border-radius: 38%;
    font-weight: 800;
    line-height: 1.3;
}

.Favorites .FavoritesBody .FavPreBtn {
    left: 0.5%;
}

.Favorites .FavoritesBody .FavNextBtn {
    right: 0.5%;
}


.Favorites .FavoritesBody .ListFavorites .ItemsFavorites {
    width: 30em;
    height: 41em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.9em;
    overflow: hidden;
}

.ListFavorites .ItemsFavorites .ImagesItems {
    width: 100%;
    flex-grow: 1; 
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.ListFavorites .ItemsFavorites .ImagesItems .OneImages {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.ListFavorites .ItemsFavorites .ImagesItems .OneImages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ListFavorites .ItemsFavorites .InfoItems {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-self: stretch;
    margin-top: 1em;
    align-items: flex-start;
    padding: 0em;
    text-align: center;
    flex-shrink: 0; /* Không cho phần này co lại */
}

.ListFavorites .ItemsFavorites .InfoItems .NameColorItems {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ItemsFavorites .InfoItems .NameColorItems .NameItems{
    text-decoration: none;
    color: var(---text-title);
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    line-height: 1.3;
}

.ItemsFavorites .InfoItems .NameColorItems .ColorItems {
    color: var(--color-type);
    font-size: 0.8em;
    font-weight: 300;
    text-align: left;
}

.ListFavorites .ItemsFavorites .InfoItems .PriceSoldItems {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ItemsFavorites .InfoItems .PriceSoldItems .PriceItems {
    color: var(--text-color);
    font-size: 0.9em;
    font-weight: 400;
    text-align: right;
}

.ItemsFavorites .InfoItems .PriceSoldItems .SoldItems{
    color: var(--text-color-hover);
    font-size: 0.9em;
    font-weight: 400;
    text-align: right;
}

/* Pagination dots */
.FavoritesBody .PaginationDots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -8%;
    left: 51%;
}

.FavoritesBody .PaginationDots .dot {
    width: 0.5em;
    height: 0.5em;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3sease;
}

.FavoritesBody .PaginationDots .dot.active {
    background-color: #000; /* Màu dot active */
    transform: scale(1.2); /* Phóng to dot active */
}
/* End Pagination dots */