.PopularPost {
    margin: 2.8em 1.4em;
}

.PopularPost .PostBody {
    display: flex;
    padding: 0 10em;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.PostBody .PostLeft {
    flex: 0 0 50%;
    text-align: center;
    padding: 0 1.1em;
    max-width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: visible;
    height: 50%;
}

.PostBody .PostLeft img {
    width: 100%;
    height: 40em;
    object-fit: cover;
    margin-bottom: 1em;
    transition: transform 0.5s ease;
}

.PostBody .PostLeft .TitlePost {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1.5em;
    position: relative;
    color: #2a2a2a; /* Màu chữ ban đầu */
    background: linear-gradient(to top, #2a2a2a 33%, #a23107 66%, #fa5316 100%); /* Gradient background */
    background-size: 100% 300%; /* Size to allow movement */
    background-position: 0 100%; /* Start position */
    -webkit-background-clip: text; /* Clip background to text (for WebKit browsers) */
    background-clip: text; /* Clip background to text */
    color: transparent; /* Hide original text color */
    transition: background-position 0.5s ease-in-out; /* Smooth transition */
}

.PostBody .PostLeft .DescShort {
    letter-spacing: 1px;
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: 300;
    position: relative;
    background: linear-gradient(to top, #2a2a2a 33%, #a23107 66%, #fa5316 100%); /* Gradient background */
    background-size: 100% 300%; /* Size to allow movement */
    background-position: 0 100%; /* Start position */
    -webkit-background-clip: text; /* Clip background to text (for WebKit browsers) */
    background-clip: text; /* Clip background to text */
    color: transparent; /* Hide original text color */
    transition: background-position 0.5s ease-in-out; /* Smooth transition */
}

.PostBody .PostLeft .TitlePost:hover,
.PostBody .PostLeft .DescShort:hover {
    background-position: 0 0; /* Move background to show gradient */
    font-weight: 400;
}


.PostBody .PostLeft .ReadBtn {
    display: inline-block;
    position: relative;
    width: 50%;
    margin: 0 auto;
    outline: none;
    border: none;
    background: none;
    height: 2em;
    font-size: 1.1em;
    color: #262626;
    overflow: hidden;
    text-decoration: underline;
    transition: color 1s ease-in-out; /* Thời gian chuyển đổi màu chữ chậm hơn */
}


.PostBody .PostLeft .ReadBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
    transition: left 1s ease-in-out; /* Thời gian chuyển động chậm hơn */
}

.PostBody .PostLeft .ReadBtn:hover::before {
    left: 100%;
}

.PostBody .PostLeft .ReadBtn:hover {
    color: #e60073; /* Màu chữ khi hover */
}

.PopularPost .PostFooter{
    margin-top: 2em;
    border: 0.09em solid #dddd;
    margin-left: 5em;
    margin-right: 5em;
}