
/* Transparent */
.reviewProduct .transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.2em 0em;
    width: 100%;
    height: auto;
}

.reviewProduct .transparent .titleTransparent {
    color: var(--color-cate-review);
    text-align: justify;
    text-transform: capitalize;
}

.reviewProduct .transparent .descTransparent {
    text-align: justify;
    margin-top: 1em;
    padding: 0em 4em;
    width: 100%;
    color: var(--color-price);
}

.reviewProduct .transparent .symbolList {
    margin: 2em 0em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.reviewProduct .transparent .symbolList .itemSymbol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.transparent .symbolList .itemSymbol img {
    width: 4em;
    height: 4em;
}


.transparent .symbolList .itemSymbol .contentName {
    text-transform: capitalize;
    margin-top: 0.5em;
    font-size: 1em;
    color: var(--color-price);
}


.transparent .symbolList .itemSymbol .priceSymbol {
    text-transform: capitalize;
    font-size: 1em;
    margin-top: 0.5em;
    color: var(--color-price);
}

/* End transparent */