.product-page .product-list {
  flex: 1; /* Tự động chiếm phần còn lại */
  max-width: 85%;
}

.product-page .product-list .breadcrumb {
    font-size: 13px;
    color: #aaa;
    margin-bottom: 6px;
  }
  
.product-page .product-list .category-title {
    font-size: 2em;
    font-weight: 300;
    color: #333;
    margin-bottom: 1.0em;
  }
  
  
.product-page .product-list .flex-products {
    display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: space-evenly;
        padding: 1.3em 0;
  }

.product-list .flex-products .product-card {
    position: relative;
    width: 29em;
    background: #fff;
    transition: box-shadow 0.3s;
  }

/* Discount Tag */
.flex-products .product-card .discount-tag {
  position: absolute;
  top: 9px;
  left: 12px;
  background: #fff;
  color: #cc3314;
  font-size: 15px;
  padding: 2px 6px;
  z-index: 2;
}
  
.flex-products .product-card .product-image-container {
    position: relative;
    width: 100%;
    height: 33em;
    overflow: hidden;
  }
  
.product-card .product-image-container .product-image,
.product-card .product-image-container .product-image-hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* Mặc định: ảnh hover ẩn, ảnh chính hiện */
.product-card .product-image-container .product-image-hover {
  opacity: 0;
}
.product-card .product-image-container .product-image {
  opacity: 1;
}

/* Khi hover qua React => thay class */
.product-card .product-image-container .product-image-hover.show {
  opacity: 1;
}
.product-card .product-image-container .product-image.hide {
  opacity: 0;
}
  
.product-card .product-image-container .quick-add-button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1.2em;
      width: 26em;
      height: 3em;
      background: #fff;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1em;
      opacity: 0;
      transition: bottom 0.3s ease, opacity 0.3s ease;
  }
  
.product-card:hover .product-image-container .quick-add-button {
    bottom: 1.2em;
    opacity: 1;
  }

.product-image-container .quick-add-button .button-icon {
    margin-left: auto;
}

.product-image-container .quick-add-button .button-icon.svg {
    text-align: right;
  }

.product-image-container .quick-add-button .button-text {
    flex: 1;
    text-align: center;
  }
  


  
/* Product Info - chung 1 hàng */
.flex-products .product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
  
.flex-products .product-card .product-info .product-title {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin: 0;
    flex: 1;
    transition: all 0.3s ease-in-out;
  }
  
.flex-products .product-card .product-info .product-title:hover {
    color: #aaa;
    font-weight: 500;
  }
  
.flex-products .product-card .product-info .price {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  
.product-card .product-info .price .old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #aaa;
  }
  
.product-card .product-info .price .new-price {
    font-size: 14px;
    color: #000;
    font-weight: bold;
  }
  
  /* Color Name */
.flex-products .product-card .color-name {
    margin-top: 0.7em;
    font-size: 0.9em;
    color: #737373;
    font-style: normal;
  }
  
  /* Color Circles */
.flex-products .product-card .color-options {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
  
.flex-products .product-card .color-options .color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.2s ease;
}
  
.flex-products .product-card .color-options .color-circle:hover {
    border: 1px solid #000;
    transform: scale(1.2);
  }
  
.flex-products .product-card .color-options .color-circle.active {
  border: 2px solid black;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.flex-products .product-card .product-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  margin-top: 10px;
}
  
.product-card .product-tags .tag-item {
    display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        border: 1px solid #e1e0e0;
        color: #737373;
        letter-spacing: 0.06rem;
        text-decoration: none;
        white-space: nowrap;
        height: auto;
        transition: opacity 0.25s;
        font-size: 0.8em;
        border-radius: 4px;
  }
  
.product-card .product-tags .tag-item .tag-name {
    margin: 0;
  }
